<!--<mat-card class="example-card" (click)="movie_details()">-->
<mat-card class="example-card" [routerLink]="[movie.id]">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{movie.id}}</mat-card-title>
    <mat-card-subtitle>Adult: {{adult}}</mat-card-subtitle>
    <h3>Genres:</h3>
    <mat-card-subtitle *ngFor="let g of genresOfEachMovie">{{g}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Some movie photo here">
  <mat-card-content>
    <p>
      {{movie.overview}}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>


