.footer{
  background: #43423E;
  text-align: center;
  font-weight: bold;
}
.movie-navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.main {
  padding: 16px;
  margin-top: 50px;

}
